* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    margin: 0;
}



a {
    text-decoration: none;
    color: black;
}

ul {padding: 0;}

li {
    list-style-type: none;
}

section {
    margin-top: 10px;
}


.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.blackbar {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20px;
    background-color: black;
}

.nav {
    margin: 0 auto;
    padding: 0;
    width: 1300px;
}

.navlist {
  height: 100px;
}

.navlist > div {
    height: 100px;
}

.navlist .menu-ul {
    display: flex;
    justify-self: left;
    align-items: center;
   
}

.navlist .menu-ul li {
    font-size: 25px;
    margin-right: 40px;
}

.navlist .menu-ul li:first-child {
    margin-left: 10px;
}


.menu {
    width: 900px;
    line-height: 100px;
     height: 100%;
   padding-right: 10px;
}


.other {
    width: 630px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.other .search-bar {
    
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.other .search-bar .search-bar-wrapper {
    border: 1px solid black;
    display: flex;
    border-radius: 2px;
    height: 40px;
    overflow: hidden;
}


.other .search-bar input {
    border: none;
    padding: 5px 0;
    padding-left: 20px;
    font-size: 16px;
    height: 100%;
}


.other .search-bar input:focus {
    outline: none;

}

.other .search-bar button {
    border-collapse: collapse;
    width: 50px;
    border: none;
    font-size: 20px;
    background-color: aliceblue;
    height: 40px;
}


.other .other-ul {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    line-height: ;
}

.other .other-ul li {
    padding-bottom: 10px;
    margin: 0 10px;
    font-size: 25px;
}




.shoe-logo {
    position: absolute;
    background-color: rgb(92, 186, 155);
    width: 130px;
    height: 150px;
    display: flex;
    align-items: center;
    top: -10px;
    left: 30px;
    
}

.adidas-logo img {
   object-fit: cover;
    width: 100%;
    height: auto;
}



.banner {
    position: relative;
    width: auto;
    height: 500px;
    background-color: rgb(188, 220, 209);
}

.b-shoe {
    padding: 200px;

}

.b-shoe h1 {
    margin-bottom: 20px;
}

.b-shoe p {
    display: inline;

}

.b-shoe button {
    width: 200px;
    height: 50px;
    margin-left: 10px;
    background-color: rgb(173, 212, 199);
    border: 3px aliceblue solid;
    font-weight: 800;
    color: aliceblue;
 
}

.adidas-shoe-banner {
    width: 700px;
    top: 50px;  
    left: 600px; 
    position: absolute;
    z-index: 100;
}

.adidas-shoe-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.adidas-shoe-banner a:hover {
    opacity: 0.9;

}

.title {
    height: 50px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 10px;
}
.title p {
    color: aliceblue;
    font-weight: bold;
    line-height: 50px;
    padding-left: 50px;
    font-size: 25px;
    text-transform: uppercase;
 
}

.products {
    display: flex;
    width: 00px;
    margin: 20px 0;
    padding-left: 23px;
}

.products li {
    position: relative;
    width: 252px;
    margin: 0 10px;
   
}

.products li p {
    padding-left: 10px;
    margin-top: 10px;
}

.products li .pro-name {
    font-size: 18px;

}

.products li .pro-name a {
    color: rgb(75, 74, 74);

}

.products li .pro-price {
    font-weight: bold;
}

.products li:hover {
    
    border: 1px solid black;
}

.products li:hover .pro-top-hover {
    opacity: 1;
   
   
}

.pro-item {


}

.pro-top {
    width: 230px;

}

.pro-top img {
    width: 100%;
    height: 100%;

}



.pro-top-hover{
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}


.pro-top-hover img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.nike-banner {
    margin: 40px;

}


.nike-logo {
    
    background-color: #ba7076;
}

.nike-logo div {    
    width: 180px;
    
}



.nike-shoe button {
    background-color: #e1838b;
}

.nike-banner {
    position: relative;
    width: auto;
    height: 500px;
    background-color: #e1838b;
}

.nike-shoe-banner {
    width: 700px;
    position: absolute;
    right: 30px;
    top: -100px;
    box-shadow: black;
}

.nike-shoe-banner a:hover {
    opacity: 0.9;
}



.converse-banner {
    margin: 40px;

}


.converse-logo {
    display: flex;
    justify-content: center;
    background-color: #f2c98c;
}

.converse-logo div {
    width: 100px;
    color: white;
}



.converse-shoe button {
    background-color: #f2c98c;
}

.converse-banner {
    position: relative;
    width: auto;
    height: 500px;
    background-color: #f5d6a8;
}

.converse-shoe-banner {
    width: 800px;
    position: absolute;
    right: -100px;
    top: 0px;
    box-shadow: black;
    height: 600px
}

.converse-shoe-banner a:hover {
    opacity: 0.9;
}

.brand-banner {
    margin-bottom: 100px;

}

.brand-banner .title {
    font-size: 25px;
    color: aliceblue;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 30px;
}



.brand-banner-ul {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(52, 46, 46);
}

.brand-banner-list {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-banner-list > * {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand-banner-list > * > * {
    margin: 5px 0;
}

.brand-name {
    background-color: rgb(0, 0, 0, 0.5);
    width: fit-content;
    border-radius: 10px;
}

.brand-description {
    font-size: 25px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}


.adidas-brand {
    background: url(./images/adidas/brand-banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.converse-brand {
    background: url(./images/converse/brand-banner.jpg);
    background-size: contain;
    background-position: center;
}

.nike-brand {
    background: url(./images/nike/brand-banner.jpg);
    background-size: contain;
    background-position: center;
    
}

.footer .wrapper {
    width: 100%;
    background-color: #555555;
    height: 400px;
    padding: 10px 20px;
}

.wrapper h2 {
    
    color: #FFFFFF;
    font-style: italic;
}

.footer-sec {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.footer-sec li  {
    width: 200px;
    font-size: 20px;

    
}

.footer-sec a {
    color: #CCCCCC;
    font-size: 16px;
    
}





