* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


body {
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    margin: 0;
}



a {
    text-decoration: none;
    color: black;
}

ul {padding: 0;}

li {
    list-style-type: none;
}

section {
    margin-top: 10px;
}


.hide {
    display: none;
    opacity: 0;

}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.protest-strike-regular {
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  



/* Nav */

.blackbar {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 20px;
    background-color: black;
}

.nav {
    margin: 0 auto;
    padding: 0;
    width: 1300px;
    
}

.navlist {
  height: 100px;
  width: 100%;
  position: relative;
}

.nav__pc{
    width: 100%;
    height: 100%;
   
}

.navlist > div {
    height: 100px;
}

.navlist .menu-ul {
    display: flex;
    justify-self: left;
    align-items: center;
   
}

.navlist .menu-ul li {
    font-size: 1.6rem;
    margin-right: 40px;
}

.ul-drop-down {
    position: absolute;
    width: 118%;
    background-color: #000;
    height: 500px;
    left: -100px;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    opacity: 0;
    display: none;
    transition: all ease-in 1s;
}

.ul-drop-down > li {

    margin: 20px 20px;
    width: 100%;
    height: 80%;
}

.menu-item:hover .ul-drop-down {
    display: flex;
    opacity: 1;
}


.navlist .menu-ul>li:first-child {
    margin-left: 10px;
}




.menu {
    width: 700px;
    line-height: 100px;
     height: 100%;
   padding-right: 10px;

}


.other {
    width: 50%;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.search-bar-moblie,
.other .search-bar {
    
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-bar-moblie {
    width: fit-content;
    display: none;
}

.search-bar-moblie .sm-btn-search {
    display: none;

}

.search-bar-moblie .search-bar-wrapper,
.other .search-bar .search-bar-wrapper {
    border: 1px solid black;
    display: flex;
    border-radius: 2px;
    height: 40px;
    overflow: hidden;
}



.search-bar-moblie .search-bar-wrapper {
    
}

.search-bar-moblie input,
.other .search-bar input {
    border: none;
    padding: 5px 0;
    padding-left: 20px;
    font-size: 16px;
    height: 100%;
}


.search-bar-moblie input:focus, 
.other .search-bar input:focus {
    outline: none;

}

.search-bar-moblie button,
.other .search-bar button {
    border-collapse: collapse;
    width: 50px;
    border: none;
    font-size: 20px;
    background-color: aliceblue;
    height: 40px;
}


.other .other-ul {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;

}

.other .other-ul li {
    padding-bottom: 10px;
    margin: 0 10px;
    font-size: 25px;
}

.nav__bars-btn {
    width: 50px;
    height: 100%;
    display: none;
    float: right;
}



.nav__overlay {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1;
    display: none;
    opacity: 0;
    animation: fadeIn linear 0.2s;
}

/* Nav moblie */

.nav__mobile {
    z-index: 3;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #FFFFFF;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transform: translateX(100%);
    opacity: 0;
    transition: all linear 0.2s;
   
}


.nav__input:checked ~ .nav__overlay {
    display: block;
}

.nav__input:checked ~ .nav__mobile {
    transform: translateX(0%);
    opacity: 1;
}

.menu__mobile {
    position: relative;
    padding-top: 30px;
}

.menu__mobile-ul {
    
}

.menu__mobile-item {
    font-size: 2em;
    height: 100px;
    line-height: 100px;
    border-bottom: 1px solid black;
}

.menu__mobile-text {
    padding-left: 20px;

}

.menu__mobile-link {

}

.nav__mobile-close {
    
}

.close-btn-nav {
    width: 30px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}


.logo-moblie {
    width: 100px;
    display: none;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* End nav bar mobile */



.shoe-logo {
    position: absolute;
    background-color: rgb(92, 186, 155);
    width: 130px;
    height: 150px;
    display: flex;
    align-items: center;
    top: -10px;
    left: 30px;
    
}

.adidas-logo img {
   object-fit: cover;
    width: 100%;
    height: auto;
}



.banner {
    position: relative;
    width: auto;
    height: 500px;
    background-color: rgb(188, 220, 209);
}

.b-shoe {
    padding: 200px;

}

.b-shoe h1 {
    margin-bottom: 20px;
}

.b-shoe p {
    display: inline;

}

.b-shoe button {
    width: 200px;
    height: 50px;
    margin-left: 10px;
    background-color: rgb(173, 212, 199);
    border: 3px aliceblue solid;
    font-weight: 800;
    color: aliceblue;
 
}

.adidas-shoe-banner {
    width: 700px;
    top: 50px;  
    left: 600px; 
    position: absolute;

}

.adidas-shoe-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}

.adidas-shoe-banner a:hover {
    opacity: 0.9;

}

.title {
    height: 50px;
    margin: 0 auto;
    background-color: black;
    margin-bottom: 10px;
}
.title p {
    color: aliceblue;
    font-weight: bold;
    line-height: 50px;
    padding-left: 50px;
    font-size: 25px;
    text-transform: uppercase;
 
}

.products {
    display: flex;
    width: 1400px;
    margin: 20px 0;
    padding-left: 23px;
    flex-wrap: nowrap;
    justify-content: center;
}

.products li {
    position: relative;
    width: 252px;
    margin: 0 10px;
   
}

.products li p {
    padding-left: 10px;
    margin-top: 10px;
}

.products li .pro-name {
    font-size: 18px;

}

.products li .pro-name a {
    color: rgb(75, 74, 74);

}

.products li .pro-price {
    font-weight: bold;
}

.products li:hover {
    
    border: 1px solid black;
}

.products li:hover .pro-top-hover {
    opacity: 1;
   
   
}

.pro-item {


}

.pro-top {
    width: 100%;

}

.pro-top img {
    width: 100%;
    height: 100%;

}



.pro-top-hover{
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease;
}


.pro-top-hover img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.nike-banner {
    margin: 40px;

}


.nike-logo {
    
    background-color: #ba7076;
}

.nike-logo div {    
    width: 180px;
    
}



.nike-shoe button {
    background-color: #e1838b;
}

.nike-banner {
    position: relative;
    width: auto;
    height: 500px;
    background-color: #e1838b;
}

.nike-shoe-banner {
    width: 700px;
    position: absolute;
    right: 30px;
    top: -100px;
    box-shadow: black;
}

.nike-shoe-banner a:hover {
    opacity: 0.9;
}



.converse-banner {
    margin: 40px;

}


.converse-logo {
    display: flex;
    justify-content: center;
    background-color: #f2c98c;
}

.converse-logo div {
    width: 100px;
    color: white;
}



.converse-shoe button {
    background-color: #f2c98c;
}

.converse-banner {
    position: relative;
    width: auto;
    height: 500px;
    background-color: #f5d6a8;
}

.converse-shoe-banner {
    width: 800px;
    position: absolute;
    right: -100px;
    top: 0px;
    box-shadow: black;
    height: 600px
}

.converse-shoe-banner a:hover {
    opacity: 0.9;
}

.brand-banner {
    margin-bottom: 100px;

}

.brand-banner .title {
    font-size: 25px;
    color: aliceblue;
    text-transform: uppercase;
    line-height: 50px;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 30px;
}



.brand-banner-ul {
    display: flex;
    justify-content: space-around;
    width: 1200px;
    color: aliceblue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(52, 46, 46);
}

.brand-banner-list {
    width: 300px;
    height: 200px;
    position: relative;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-banner-list > * {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brand-banner-list > * > * {
    margin: 5px 0;
}

.brand-name {
    background-color: rgb(0, 0, 0, 0.5);
    width: fit-content;
    border-radius: 10px;
}

.brand-description {
    font-size: 25px;
    background-color: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}


.adidas-brand {
    background: url(./images/adidas/brand-banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.converse-brand {
    background: url(./images/converse/brand-banner.jpg);
    background-size: contain;
    background-position: center;
}

.nike-brand {
    background: url(./images/nike/brand-banner.jpg);
    background-size: contain;
    background-position: center;
    
}

.mobile_brand-banner {
    display: none;
}

.brand_mobile {
    width: 100%;
    border-bottom: 1px dashed grey;
    background-color: black;
    font-size: 30px;
 
}

.brand_mobile a {
    display: block;
    color: white;
    font-weight: bold;
    width: 100%;
}

.brand_mobile li {
    height: 3em;
    line-height: 3em;
    padding-left: 1.5em;
    cursor: pointer;
}

.brand_mobile li:nth-child(1):hover {
    background-color: rgb(92, 186, 155);
}

.brand_mobile li:nth-child(2):hover {
    background-color: #e1838b;
}

.brand_mobile li:nth-child(3):hover {
    background-color: #f2c98c;
}



/* FOOTER */
.footer-divider {
    margin-top: 20px !important;
    background-color: black;
    height: 250px;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
    padding-top: 20px !important;

}

.footer-divider ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 600px;
}

.logo-footer-li {
    width: 150px;

}

.footer .footer-wrapper {
    
    background-color: white;
    height: 300px;
    padding: 10px 20px;
    
}

.footer-item h2 {
    
    
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.footer-item ul {
    display: flex;
    flex-direction: column;
    align-items: start;

}


.footer-item a:hover {
    text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000, -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
}

.footer-wrapper h2 {
    
    color: black;
    font-style: bold;
}

.footer-sec {
    text-align: center;
    width: 60%;
    display: flex;
    justify-content: center;
    
    margin-top: 50px;
}

.footer-sec li  {
    width: 200px;
    font-size: 20px;
    
    
}

.footer-sec a {
    color: black;
    font-size: 16px;
    
}

.lisence {
    width: 100%;
    display: flex;
    height: 100px;
    justify-content: center;
}

.lisence-img {
    width: 300px;
}

.lisence-img img {
    height: auto;
}

.lisence .copy-right {
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    width: 500px;
}

/* Fixed cart */

.fixedCart {
    position: fixed;
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: black;
    right: 0px;
    top: 300px;
    cursor: pointer;
}

.fixedCart > .countProducts {
    margin: 10px;
}

.countProducts {
    font-size: 25px;
}

.bi-bag {
    font-size: 25px;
}



/* Phần responsive*/
@media  (max-width: 1024px) {
    /* Nav */
    .nav {
       
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
    }
    .logo-moblie,
    .search-bar-moblie,
    .nav__bars-btn {
        display: block;
        
    }
    .nav {
        margin-top: 10px;
        margin-bottom: 80px;
    }
    .nav__pc {
        display: none;
    }
    .navlist {
        
        display: none;
    }

    .fixedCart{
        display: none !important;
    }

    /* end nav */
    
    .products {
        flex-wrap: wrap;
        
    }
    .products li {
        margin-bottom: 20px;
    }
    .adidas-shoe-banner,
    .converse-shoe-banner {
        position: relative;
        width: 60%;
        height: auto;
        left: 400px;
        top: -300px;
    }
    .nike-banner,
    .banner,
    .converse-banner {
        height: 430px;
    }

    .nike-shoe-banner {
        width: 50%;
        top: -30px;
        left: 450px;
    }
    .b-shoe{
        padding:50px;
        padding-top: 200px;
    }
    
    
}

@media (max-width: 768px) {
    
    .mobile_brand-banner {
        display: block;
    }

    
    .pc__brand-banner {
        display: none;
    }
    .adidas-shoe-banner,
    .nike-shoe-banner,
    .converse-shoe-banner {
        display: none;
    }
    .b-shoe {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .b-shoe p {
        margin-bottom: 20px;
    }


    .title {
        
        text-align: center;
    }

    .title p {
        padding-left: 0;
    }

    .mobile_brand-banner .title {
        font-size: 1rem;
        padding-left: 0;
        text-align: center;
    }

    .products li {
        width: 200px;
    }
  
    /* footer */

    .lisence .copy-right {
        line-height: 30px;
        text-align: center;
        
   }
}


@media (max-width: 434px) {
    .nav__mobile {
        width: 100%;
    }
    .search-bar-moblie input {
        font-size: 10px;
    }

    .search-bar-moblie {
        display: flex;
        width: 100px;
        
    }

    .search-bar-moblie .sm-btn-search {
        display: block;
        width: 100%;
        font-size: 2.5em;
        
    }

    .search-bar-moblie .sm-btn-search i {
        float: right;
    }

    .search-bar-moblie .search-bar-wrapper {
        display: none;
    }



    /* end nav */

    .products li:last-child {
        display: none;
    }

    .pro-name a {
        font-size: 0.88em;
    }

    .mobile_brand-banner  .title {
        height: fit-content;
    }

    .products {
       align-items: start;
       justify-content: center;
    }
     
    .products li {
        width: 120px;
    }

  
    .footer-divider ul {
        width: 10em;
    }

    .logo-footer-li {
        width: 3em;
    }
  
}

@media (max-width: 355px) {
    .products li {
        width: 100px;
    }

    .footer-divider p {
        font-size: 0.9em;
    }
    .footer-divider ul {
        width: 8em;
    }

    .logo-footer-li {
        width: 2.5em;
    }
}

/* Hết phần responsive cho nav */