@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body{
    font-family: "Nunito Sans", serif;
    margin: 0 auto;
    box-sizing: border-box;
    background-size: cover;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 2px;
    margin-top: 20px;
    background-color: white;
   
}
.logo {
    text-align: center;
}
.logo img{
    width: 180px;
    height: 160px;
    margin-bottom: -30px;
}
.wrapper-heading{
    text-align: center;
    font-size: 20px;
    margin-bottom: -10px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
}
.input-general{
    margin: 0 auto;
    margin-bottom: 10px;
}
.input-general .boder{
    display: flex;
    position: relative;
}
.input-general .boder input{
    width: 260px;
    height: 40px;
    border-radius: 10px;
}
.input-general .boder i{
    position: absolute;
    left: 15px;
    top: 16px;
}
.input-general .boder input{
    padding-left: 34px;
    margin-top: 2px;
}
.input-general .boder .eye{
    position: absolute;
    left: 250px;
}
.input-general .boder i{
    cursor: pointer;
}
.social p{
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.social p a{
    text-decoration: none;
}
.login-button {
    text-align: center;

}
.login-button button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.login-button button:hover{
    background: aquamarine;
    border: 2px solid black;
}
.login-button button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.decor p{
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    border-radius: 100vh;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}



.second-wrapper {
    margin: 0 auto;
    width: 80%;

}

.second-wrapper h1 {
    text-align: center;

}

.infor {
    width: 1000px;
    margin: 0 auto;
    height: 300px;
    
    padding-left: 20px;
}

.infor p {
    font-size: 20px;

}

.backToMainMenu,
.logOut {
    display: block;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background-color: black;
    color: #FFF;
    margin-top: 5px;
    cursor: pointer;
}

.backToMainMenu {
    width: 200px;
    margin: 0 auto;

}

.backToMainMenu a {
    
    text-decoration: none;
    color: #FFF;
}



@media  (max-width: 1024px) {
    


    .backToMainMenu {
        margin: 0 ;
        margin-top: 10px;
    }
}

@media screen and (max-width: 360px) {
    
    .second-wrapper h1 {
        font-size: 1.5em;

    }

    .second-wrapper p {
        font-size: 1em;

    }

    

}